

<tr>
  <td><%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %></td>
  <td><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></td>
  <td><%= portfolio_item.subtitle %></td>
  <td><%= portfolio_item.body %></td>
  <td><%= distance_of_time_in_words(portfolio_item.created_at, Time.now) %> ago</td>
  <td>
    <%= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %>
    <%= link_to "Delete", portfolio_path(portfolio_item), method: :delete, data: { confirm: "Are you sure?"} if logged_in?(:site_admin) %>
    <%= link_to portfolio_item.status, toggle_status_portfolio_path(portfolio_item) %>
  </td>
</tr>
