
<h1>Portfolio Items</h1>
<div class="row left-align create_new_portfolio">
  <div class="col s12">
    <%= link_to "Create New Portfolio", new_portfolio_path %>
  </div>
</div>
<div class="row center">
  <% @portfolio_items.each do |item| %>
  <div class="col s12 m6 l4 xl3">
    <h3><%= item.title %></h3>
    <%= image_tag item.thumb_image unless item.thumb_image.nil? %>
    <h5><%= item.subtitle %></h5>
    <p><%= item.body %></p>
    <p class="left-align"><%= link_to "Edit #{item.title}", edit_portfolio_path(item.id) %></p>

  </div>
  <% end %>
</div>
