<h1>Home</h1>
<p>Hi <%= current_user.first_name if current_user %>, thank you for visiting my portfolio site.  If you have any questions please <%= link_to "contact", contact_path %> me.</p>

<h3>Portfolio</h3>
<%= @portfolio %>

<h3>Posts</h3>
<%= @posts %>

<h3>Skills</h3>
<%= @skills %>
