<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= csrf_meta_tags %>
    <!-- Google Font Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
      <%= render "nav" %>
    </header>
    <main>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
      <div>
        <%= yield %>
      </div>
    </main>
    <footer>
      <%= render "footer" %>
    </footer>
    <hr>
    <%= params %>
    <!-- where visitor came from ?q=source -->
    <%= source_helper %>
  </body>
</html>
