<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <!-- Google Font Roboto -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>
  <body class="container-fluid">
    <header>
      <%= render "nav" %>
    </header>
    <main>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>

      <%# cache do %>
        <!-- visitor came from ?q=source -->
        <%= source_helper %>
        <%= yield %>
        <%# end %>

    </main>
    <%= render "footer" %>
  </body>
</html>
